#project-sorting {
    background-color: #F7943C;
    background-image: url(res/img/project-sorting.png);
}

#project-xalyva {
    background-color: #32127A;
    color: white;
    background-image: url(res/img/project-xalyva.png);
}

#project-sweephard {
    background-color: #3A75C4;
    color: white;
    background-image: url(res/img/project-sweephard.png);
}