<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

		<link rel="stylesheet" href="../xalyva.css" type="text/css">		
		<title></title>						
	</head>	
	<body>
		<span class = "x-title" id = "x-title"></span>			
		<div id = "pics"></div>		
		<script src = "q.js"></script>	
	</body>
</html>